<%= form_for(current_user.active_relationships.build) do |f| %>
  <div><%= hidden_field_tag :followed_id, @user.id %></div>
  <%= f.submit "フォローする", class: "col-md-2 col-sm-4 btn btn-primary ml-3 my-3" %>
<% end %>