<div class="container user">
  <ul class="nav nav-tabs">
    <li class="nav-item"><%= link_to 'プロフィール', user_profile_path(current_user.id,current_user.id), class: "nav-link active" %></li>
    <li class="nav-item"><%= link_to 'アカウント', user_account_path(current_user.id,current_user.id), class: "nav-link" %></li>
  </ul>
  <div class="user-view">
    <div class="user-view-box">
      <div class="update-content">
        <div class="row">
          <h5>アカウント情報</h5>
        </div>
      </div>
      <div class="update-content">
        <div class="row">
          <p class="col-md-3">メールアドレス</p>
          <p class="mb-4 col-md-9"><%= @user.email %></p>
        </div>
      </div>
      <div class="update-content">
        <div class="row">
          <p class="col-md-3">パスワード</p>
          <p class="mb-4 col-md-9">*********</p>
        </div>
      </div>
      <div class="update-content">
        <div class="row">
          <%= link_to 'メールアドレスまたはパスワードを変更', edit_user_account_path(current_user.id), class: "col-md-2 btn btn-primary mx-3" %>
        </div>
      </div>
    </div>
  </div>
</div>