<% provide(:title, "アカウント") %>
<div class="container user">
  <%= render "layouts/profile_tabs" %>
  <div class="user-view">
    <div class="user-view-box">
      <div class="update-content">
        <div class="row">
          <p class="col-md-3">パスワード</p>
          <p class="mb-4 col-md-9">*********</p>
        </div>
      </div>
      <div class="update-content">
        <div class="row">
          <%= link_to 'パスワードを変更', edit_user_accounts_path(current_user.id), class: "col-md-2 btn btn-primary mx-3" %>
        </div>
      </div>
    </div>
  </div>
</div>