<li id="recipe-<%= recipe.id %>">
  <span class="name"><%= link_to recipe.name, "#" %></span>
  <span class="description"><%= recipe.description %></span><br>
  <span class="created_at">作成日：<%= recipe.created_at %></span><br>
  <h5>表示確認</h5>
</li>