<div class="col-md-2">
  <p>画像</p>
</div>
<div class="col-md-9">
  <ol id="recipe-<%= recipe.id %>">
    <span class="name recipe-name"><%= link_to recipe.name, "#" %></span>
    <br>
    <span class="description recipe-description"><%= recipe.description %></span><br>
  </ol>
</div>