<% provide(:title, "レシピの登録") %>
<div class="container out-box">
  <div class="first-box">
    <div class="second-box">
      <div class="title-content">
        <div class="row">
          <h2 class="mx-auto">レシピ登録</h2>
        </div>
      </div>
      <%= render 'recipes/recipe_new_form' %>
    </div>
  </div>
</div>
