<% provide(:title, "レシピの登録") %>
<div class="container user">
  <div class="user-view">
    <div class="user-view-box">
      <div class="update-content">
        <div class="row">
          <h2 class="mx-auto">レシピ登録</h2>
        </div>
      </div>
      <%= render 'recipes/recipe_new_form' %>
    </div>
  </div>
</div>
