<% provide(:title, 'ユーザー一覧') %>
<div class="container user">
  <div class="user-view">  
    <div class="user-view-box">
      <div class="update-content">
        <div class="row">
          <h5>ユーザー一覧</h5>
        </div>
      </div>
      <div class="pagination">
        <%= paginate @users %>
      </div>
      <div class="row">
        <%= render @users %>
      </div>
    </div>
  </div>
</div>