<% provide(:title, 'ユーザー一覧') %>
<div class="container">
  <h1>ユーザー一覧</h1>
  <%= paginate @users %>
  <ul>
    <% @users.each do |user| %>
      <% if user.user_image.attached? %>
        <%= image_tag user.user_image.variant(resize:'200x200').processed, class:"icon-image host-icon" %>
      <% else %>
        <img alt="アイコン画像" class="icon-image host-icon" src="../../assets/default_icon.jpg">
      <% end %>
      </div>
      <li><%= link_to user.name, user_profiles_path(user) %></li>
      <% if (current_user.admin? && current_user != user) || (!current_user.admin? && current_user == user) %>
        <li><%= link_to "削除", user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
      <% end %>
    <% end %>
  </ul>
</div>