<% provide(:title, 'ユーザー一覧') %>
<div class="container out-box">
  <div class="first-box">  
    <div class="second-box">
      <div class="title-content">
        <div class="row">
          <h5>ユーザー一覧</h5>
        </div>
      </div>
      <div class="pagination">
        <%= paginate @users %>
      </div>
      <div class="row">
        <%= render @users %>
      </div>
    </div>
  </div>
</div>