<% provide(:title, 'ユーザー一覧') %>
<div class="container">
  <h1>ユーザー一覧</h1>
  <%= paginate @users %>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, user_profiles_path(user) %></li>
      <% if (current_user.admin? && current_user != user) || (!current_user.admin? && current_user == user) %>
        <li><%= link_to "削除", user_path(user), method: :delete, data: { confirm: "本当に削除しますか？" } %></li>
      <% end %>
    <% end %>
  </ul>
</div>