<div class="container out-box">
  <div class="first-box">
    <div class="second-box">
      <div class="title-content">
        <% if logged_in? %>
          <h3>みんなのレシピ (<%= @recipes.total_count %>)</h3>
          <%= render 'shared/top' %>
        <% else %>
          <center>
            <h2 class="pb-4">玄米食に合ったレシピを探せるサイト</h2>
            <h4 class="pb-2">美味しく玄米食を楽しみましょう！</h4>
            <div class="col-md-6 btn-box my-2">
              <%= link_to '玄米ウィズを始める', new_recipe_path, class:"form-control btn-info" %>
            </div>
          </center>
        <% end %>
      </div>
    </div>
  </div>
</div>