<% if logged_in? %>
  <div class="container">
    <h3>みんなのレシピ (<%= @recipes.total_count %>)</h3>
    <%= render 'shared/top' %>
  </div>
<% else %>
  <center>
    <h1>玄米レシピ投稿サイト</h1>
  </center>
<% end %>