<% provide(:title, "投稿レシピ") %>
<div class="container out-box">
  <%= render "layouts/profile_tabs" %>
  <div class="first-box">
    <div class="second-box">
      <div class="title-content">
        <h5>投稿レシピ一覧 (<%= @user.recipes.count %>件)</h5> 
      </div>
      <div class="pagination">
        <%= paginate @recipes %>
      </div>
      <div class="container">
          <%= render partial: 'recipes/recipe', collection: @recipes, as: "recipe" %>
      </div>
    </div>
  </div>
</div>


