  <ul class="nav nav-tabs">
    <li class="nav-item"><%= link_to 'プロフィール', user_profiles_path(@user), class: "nav-link active" %></li>
    <li class="nav-item"><%= link_to 'プロフィール', user_profiles_path(@user), class: "nav-link active" %></li>
    <% if (current_user == @user) %>
      <li class="nav-item"><%= link_to 'アカウント', user_accounts_path(@user), class: "nav-link" %></li>
    <% end %>
  </ul>