  <%= search_form_for @q, url:feeds_path(@user) do |f| %>
      <div class='form-inline justify-content-center'>
        <%= f.search_field :name_or_ingredients_name_cont, placeholder: "フォローしているユーザーのレシピを検索", class: 'form-control font-awesome w-25' %>
        <%= f.submit nil, class: 'btn btn-outline-success my-2 my-sm-0' %>
      </div>
  <% end %>